# Decorators

In [1]:
def hello():
    print("hello, pythonistas")

In [2]:
hello()

hello, pythonistas

In [3]:
def greet():
    print("Greetings to you!")

In [5]:
hello

In [6]:
my_func = hello

In [7]:
my_func()

hello, pythonistas

In [8]:
del hello

In [9]:
my_func()

hello, pythonistas

In [19]:
def cool():  # create_user
    def super_cool():  # is_valid_email
        return "This is super cool!!"
    
    return super_cool()

In [20]:
cool()

'This is super cool!!'

In [21]:
def cool():  
    def super_cool():
        return "This is super cool!!"
    
    return super_cool

In [23]:
cool()

In [24]:
my_new_func = cool()

In [25]:
my_new_func()

'This is super cool!!'

In [35]:
def hello():
    print("hello, pythonistas")

In [36]:
# hello students
# hello pythonistas

In [37]:
def decorator_hello(a_function_definition):  
    print("Hello students")
    
    a_function_definition()

In [38]:
decorator_hello(hello)

Hello students
hello, pythonistas

In [39]:
hello()

hello, pythonistas

In [45]:
def func_needs_decoration():
    print("I wanna be decorated")

In [46]:
func_needs_decoration()

I wanna be decorated

In [47]:
def new_decorator(original_func):
    def wrapper_func():
        print("Some code before original func")
        
        original_func()
        
        print("Some code after original func")
    
    return wrapper_func

In [52]:
@new_decorator
def func_needs_decoration():
    print("I wanna be decorated")

In [53]:
func_needs_decoration()

Some code before original func
I wanna be decorated
Some code after original func

In [75]:
@decorator_greeting
def greet():
    print("Greetings to you!")

In [76]:
@decorator_greeting
def hello():
    print("hello, pythonistas")

In [77]:
@decorator_greeting
def salut_name(name):
    print(f"Salut, {name}")

In [74]:
def decorator_greeting(original_func):
    def wrapper(*args, **kwargs):
        print(f"Entering function: {original_func.__name__}")
    
        original_func(*args, **kwargs)
    
        print("Leaving function...")
        
    return wrapper

In [78]:
greet()

Entering function: greet
Greetings to you!
Leaving function...

In [79]:
hello()

Entering function: hello
hello, pythonistas
Leaving function...

In [80]:
salut_name("Aladin")

Entering function: salut_name
Salut, Aladin
Leaving function...

In [81]:
def add(*args):
    res = 0
    for arg in args:
        res += arg
    return res

In [82]:
add(5,6)

11

In [83]:
add(5,6,10,100)

121

In [87]:
def test_kwargs(**kwargs):
    print(kwargs['hello'])

In [88]:
test_kwargs(**{"greet": "greetings", "hello": "hi", "salut": "salutare"})

hi

In [89]:
test_kwargs(greet="greetings", hello="hi", salut="salutare")

hi

In [90]:
def get_phone_price(price):
    print(f"Price of phone is: {price}")
    return price

In [92]:
def get_laptop_price(price):
    print(f"Price of laptop is: {price}")
    return price

# asta ar fi pretul fara tva... si eu vreau sa returnez pretul cu tva

In [93]:
# TODO: creati un decorator de tva care sa returneze pretul cu TVA al produsului pentru cele 2 functii de mai sus!

In [94]:
import sqlite3

In [95]:
# sqlite, PostegreSQL, MySQL, etc sunt baze de date relationale (exista relatii intre entitati/tabele)
# sqlite fata de restul e un DB care salveaza datele inte`un singur fisier pe disk!
# in timp ce restul sunt deployate in general pe un server

In [96]:
# conn = sqlite3.connect("/path/catre/fisieru/db-ului")
conn = sqlite3.connect("test.db")

In [97]:
cur = conn.cursor()

In [98]:
# Se presupunem ca avem nevoie de o baza de date care sa stocheze niste date despre studenti (Students) si notele (Grades) lor,
# students ar trebui sa aiba: name, email, age
# grades au topic si grade
# sa incerca sa design-uim o astfel de baza de date

In [101]:
cur.executescript("""
CREATE TABLE Students (
id INTEGER PRIMARY KEY AUTOINCREMENT,    
name TEXT NOT NULL,
email TEXT NOT NULL,
age INTEGER NOT NULL CHECK (age > 0)
);


CREATE TABLE Grades (
id INTEGER PRIMARY KEY AUTOINCREMENT,    
topic TEXT NOT NULL,
grade REAL NOT NULL CHECK (grade BETWEEN 0.0 AND 10.0),
student_id INTEGER NOT NULL,
FOREIGN KEY(student_id) REFERENCES Students(id)
);
""")

In [100]:
# Primary Key (PK): e un field (o coloana) care identifica in mod unic fiecare rand dintr`o tabela
#    o astfel de coloana nu poate avea valori duplicate sau valori nule

# Foreign Key (FK): e un field (o coloana) al unei tabel care face legatura (relatia) cu o alta tabela,
#    identifican astfel o relatie parinte-copil, unde tabela care tine FK este copilul
#    in general in tabela copil, coloana FK referentiaza id-ul din tabela parinte

In [102]:
cur.execute("SELECT * FROM Students;")

In [104]:
cur.fetchall()

[]

In [105]:
cur.execute("INSERT INTO Students (name, email, age) VALUES ('Avram Bogdan', 'avram.bogdan@myschool.com', 18);")
cur.execute("INSERT INTO Students (name, email, age) VALUES ('Constantinescu Diana', 'constantinescu.diana@myschool.com', 19);")

In [107]:
cur.execute("SELECT * FROM Students;")
cur.fetchall()

[(1, 'Avram Bogdan', 'avram.bogdan@myschool.com', 18),
 (2, 'Constantinescu Diana', 'constantinescu.diana@myschool.com', 19)]

In [117]:
conn.commit()

In [109]:
cur.execute("INSERT INTO Students (name, email, age) VALUES ('Ene Flavia', 'ene.flavia@myschool.com', 20);")

In [112]:
cur.execute("SELECT * FROM Students WHERE id=1;")
cur.fetchall()

[(1, 'Avram Bogdan', 'avram.bogdan@myschool.com', 18)]

In [113]:
grades_values = [
    ("Informatica", 8, 1),
    ("Informatica", 10, 1),
    ("Matematica", 9, 1),
    ("Limba Romana", 10, 2),
    ("Chimie", 9, 2),
    ("Engleza", 10, 3),
    ("Engleza", 6, 1),
    ("Informatica", 6, 3),
    ("Informatica", 10, 2)
       
]

sql_query = "INSERT INTO Grades (topic, grade, student_id) VALUES (?, ?, ?)"
cur.executemany(sql_query, grades_values)

In [114]:
cur.execute("SELECT * FROM Grades;")

In [115]:
cur.fetchall()

[(1, 'Informatica', 8.0, 1),
 (2, 'Informatica', 10.0, 1),
 (3, 'Matematica', 9.0, 1),
 (4, 'Limba Romana', 10.0, 2),
 (5, 'Chimie', 9.0, 2),
 (6, 'Engleza', 10.0, 3),
 (7, 'Engleza', 6.0, 1),
 (8, 'Informatica', 6.0, 3),
 (9, 'Informatica', 10.0, 2)]

In [116]:
cur.execute("INSERT INTO Students (name, email, age) VALUES ('Gheorghe Hagiu', 'ene.flavia@myschool.com', -1);")

IntegrityError: CHECK constraint failed: age > 0

In [118]:
conn.commit()

In [119]:
# Vrem sa returnam din baza de date toate notele studentei Ene Flavia

cur.execute("SELECT * FROM Grades g JOIN Students s ON g.student_id=s.id WHERE s.name=;")
cur.fetchall()

# ce vedem aici e o relatie de tip one-to-many, avem un singur student cu mai multe note...

[(6, 'Engleza', 10.0, 3, 3, 'Ene Flavia', 'ene.flavia@myschool.com', 20),
 (8, 'Informatica', 6.0, 3, 3, 'Ene Flavia', 'ene.flavia@myschool.com', 20)]

In [120]:
# acum ne dorim sa adaugam clase (Classes), unde Classes au subject, day_of_week , timeframe 
# cu precizarea ca un student poate fi inscris la mai multe clase si o clasa poate avea mai multi studenti

# TODO: cum am structura baza de date in cazul acesta??

In [ ]:
# TODO: testati niste SQL queries de UPDATE, DELETE in functie de o variabila nu de o valoare hardcodata
#   si mai incercati sa selectati din baza de date toate notele studentului cu id=1 la topic informatica folosindu`va de urmatorul dictionar
values_dict = {'id': 1, 'topic': 'Informatica'}

# Bonus: Incercati sa structurati query`urile in functii